.title {
  display: flex;
  place-content: center;
}

.input-content {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.text-input {
  width: 50%;
}

.buttons {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
}
