<div class="content">
<div class="mat-toolbar">
  <mat-toolbar color="primary" class="nav">
    <button mat-raised-button class="nav-button" (click)="onTodayClick()">
      Today
    </button>
    <button mat-button (click)="onBackClick()"><mat-icon>arrow_back_ios</mat-icon></button>
    <button mat-button (click)="onForwardClick()"><mat-icon>arrow_forward_ios</mat-icon></button>
    {{week[0].date | date: 'dd MMM'}} - {{week [6].date | date: 'dd MMM YYYY'}}
  </mat-toolbar>
</div>
<div class="main-content">
  <div class="days">
    <div class="side-info">
      <div class="timezone-header">
        <p>Timezone</p>
        <p>GMT +1</p>
      </div>
      <div *ngFor="let temp of filteredtimes" class="timezone-blocks">
        {{temp.time}}
      </div>
    </div>
  <div *ngFor="let day of week" class="hours">
    <div [className]="day.date.toDateString() === today.toDateString() ? 'today' : 'other-day'">
    <p>{{day.date | date: 'EEEE'}}</p>
    <p>{{day.date | date: 'd'}}</p>
    </div>
    <div *ngFor="let temp of day.timestamp" class="blocks">

      <div *ngIf="temp.meeting" class="meeting" style="height: calc(100%*{{temp.meeting.multiplier}})">
        {{temp.time}}: {{temp.meeting.name}}
      </div>
    </div>
  </div>
  </div>
</div>
</div>
