<div class="content">
  <div class="mat-toolbar">
    <mat-toolbar color="primary" class="nav">
      <button mat-raised-button class="nav-button" (click)="onTodayClick()">
        Today
      </button>
      <button mat-button (click)="onBackClick()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <button mat-button (click)="onForwardClick()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
      {{week[0].date | date: 'dd MMM'}} - {{week [6].date | date: 'dd MMM YYYY'}}
      <button mat-raised-button class="nav-button" (click)="openDialog()">+ Add event</button>
    </mat-toolbar>
  </div>
  <div class="main-content">
    <div class="days">
      <div class="side-info">
        <div class="timezone-header">
          <p>Timezone</p>
          <p>GMT+1</p>
        </div>
        <div *ngFor="let temp of filteredtimes" class="timezone-blocks">
          {{temp.time}}
        </div>
      </div>
      <div *ngFor="let day of week" class="hours">
        <div [className]="day.date.toDateString() === today.toDateString() ? 'today' : 'other-day'">
          <p>{{day.date | date: 'EEEE'}}</p>
          <p>{{day.date | date: 'd'}}</p>
        </div>
        <div *ngFor="let temp of day.timestamp" class="blocks">
          <div *ngIf="temp.meeting?.length === 1 && (!checkLaterMeetings(day, temp) && !checkPreviousMeetings(day, temp))" class="meeting-container">
            <div *ngFor="let tmp of temp.meeting" class="meeting" style="width: 100%">
              {{temp.time}}: {{tmp.name}}
            </div>
          </div>
          <div *ngIf="temp.meeting?.length > 0 && (checkLaterMeetings(day, temp) || checkPreviousMeetings(day, temp)) && amountPreviousMeetings(day, temp) !== 0" class="meeting-container"
               style="margin-left: calc(100%/({{amountPreviousMeetings(day, temp) + temp.meeting?.length + amountLaterMeetings(day, temp)}} / {{amountPreviousMeetings(day, temp)}}))">
            <div *ngFor="let tmp of temp.meeting" class="meeting"
                 style="height: calc(100%*{{tmp.multiplier}}); width: calc(100%/({{amountPreviousMeetings(day, temp) + amountLaterMeetings(day, temp) + temp.meeting?.length}}))">
              {{temp.time}}: {{tmp.name}}
            </div>
          </div>
          <div *ngIf="temp.meeting?.length > 0 && (checkLaterMeetings(day, temp) || checkPreviousMeetings(day, temp)) && amountPreviousMeetings(day, temp) === 0" class="meeting-container">
            <div *ngFor="let tmp of temp.meeting" class="meeting"
                 style="height: calc(100%*{{tmp.multiplier}}); width: calc(100%/({{amountPreviousMeetings(day, temp) + amountLaterMeetings(day, temp) + temp.meeting?.length}}))">
              {{temp.time}}: {{tmp.name}}
            </div>
          </div>
          <div *ngIf="temp.meeting?.length > 1  && (!checkLaterMeetings(day, temp) && !checkPreviousMeetings(day, temp))" class="meeting-container">
            <div *ngFor="let tmp of temp.meeting" class="meeting"
                 style="height: calc(100%*{{tmp.multiplier}}); width: calc(100%/{{temp.meeting.length}}">
              {{temp.time}}: {{tmp.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
